.loginbox {
  width: 400px;
  height: 460px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.05);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}
.loginlogo {
  width: 220px;
  height: 40px;
  /*border-radius: 50%;*/
  position: absolute;
  top: 15px;
  left: calc(50% - 110px);
}
.loginformforgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.loginformbutton {
  width: 100%;
}
